html{ background-color:white; border:5px solid purple; background-size:cover;}
body{font-family:cursive; text-align:center;}
img{border:5px solid purple;}
h2,h4{color:black; bacground-color:purple;}
